header, nav {
	font-size: 14px;
	font-family: "Montserrat", Lucida Sans Unicode, sans-serif;
}
main, footer {
    font-family: "Lora", Helvetica, sans-serif;
}

main
 {
	max-width: 960px;
    margin: 0 auto;
}
nav {
	max-width: 100%;
	background-color: #07090F;
}
.navigation {
    list-style: none;
    text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
}
.navigation a:hover {
	color: #343E3D;
	background-color: #FFF2F1;
}
.responsive li {
	display: block;
}
li .active {
	color: #DACC3E;
}

body {
	padding: 0;
	margin: 0 auto;
}

header {
	max-width: 100%;
    margin: 0 auto;	
	background-color: #7FB7BE;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center;
}

footer {
	max-width: 100%;
	margin: 0 auto;	
	display: block;
	text-align: center;
	background-color: #7FB7BE;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #FFF2F1;
	margin-left: 20px;
	font-size: .9rem;
}

h2 {text-align: center;
}
.herodiv {
	position: relative;
	margin: 10px auto;
}
.hero-ph {
	margin: 0 auto;
	border: 1px;
	width: 98%;
}
main img {
	max-width: 100%;
}

.weathersummary {
	display: block;
	padding: 15px;
	background-color: #FFF2F1;
	color: #07090F;
	font-size: 14px;
}
p {
	padding: 0;
	letter-spacing: 0.05rem;
	line-height: 1;
    font-size: 14px;
}
.article {
	display:block;
	margin: 30px auto;
	padding: 15px;
	background-color: #FFF2F1;
	color: #07090F;
	text-align: left;
    border: solid #CDCDCD 1px; }
.img-article {
	max-width: 100%;
}
.contact {
	background-color: #07090F;
	color: white;
}

.map {
	padding: 10px;
}
.promo {
	display:block;
	background-color: #dad171;
	text-align: center;
	font-size: 28px;
	padding: 1.5em;
}
picture.hero-ph {
    display: block;
    width: 96%;
    margin: 0 2%
}
figcaption{
    font-family: "Montserrat",sans-serif;
}
.weather {
    text-align: center;
    width: 300px;
    background-color: #7FB7BE;
    margin: auto;
	border: solid black 1px;}
