@media only screen and (min-width: 37.5em) {
	header img {
		width: 140px;
	}

	.headings h1 {
		font-size: 2.5rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.herodiv {
		position: relative;
		margin: 10px auto;
		width: 750px;
		height: 300px;
	}
	.hero-ph {
		margin: 10px auto;
		width: 98%;
		height: 220px;
	}
	.contact {
		margin: 0 auto;
       	max-width: 100%;
       	padding: 1.5em;
	}
	.map {
		display: inline-block;
		margin: 5px 20px;

	}
	.contact-data {
		display: inline-block;
		margin: 5px 20px;
	}
	.social {
		display: inline-block;
		text-align: center;
	  }
	
	div.cards {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	}
	
	div.cards:nth-child(odd) img {
		grid-column: 2;
	}
	
	div.cards:nth-child(odd) p {
		grid-column: 1;
		grid-row: 1;
	}
}